[package]
name = "afx"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
base64 = "0.22.1"
eframe = { version = "0.20.1", features = ["persistence"] }
kira = "0.7.1"
lz4_flex = "0.9.5"
parking_lot = "0.12"
rayon = "1.6.0"
rfd = "0.10.0"
rgb = "0.8.34"
rmp-serde = "1.3.0"
serde = "1.0"
symphonia = { version = "^0.5", features = ["isomp4"] }
thread-priority = "0.10.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.16"
tracing-timing = "0.6.0"

[dev-dependencies]
approx = "0.5.1"
tempfile = "3.3.0"

[profile.release]
codegen-units = 1
lto = true

# workaround for slow MP3 load times in debug mode
# see https://github.com/tesselode/kira/issues/24
[profile.dev.package.symphonia-bundle-mp3]
opt-level = 3
